﻿@model SalesOrder.Models.MasterData.DetailsCategoryClass
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}

<link href="~/Assets/Nifty/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<style>
    .childCenter {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        padding: 10px;
    }
</style>
<script src="~/Assets/EliteAdmin/node_modules/jquery/jquery-3.2.1.min.js"></script>

<script>
    var dtItemList;
    $(document).ready(function () {
        dtItemList = $('#dtItemList').DataTable();
        $('#btnCancel').click(function () {
            window.location.href = "@Url.Action("CategoryList","MasterData")";
        });
        $('#btnDeactive').click(function () {
            var getId = document.getElementById("txtCategoryCode").value;
            $.ajax({
                url: 'UpdateStatusCategory',
                type: 'POST',
                contentType: 'application/json;',
                data: JSON.stringify({ id: getId, status: "0" }),
                    success: function (valid) {
                        if (valid.valid) {
                            window.location.href = "@Url.Action("CategoryList", "MasterData")?message=" + valid.pesansingkat;
                        } else {
                            document.getElementById("btnSubmit").disabled = false;
                        }
                    }
                });
        });
        $('#btnActive').click(function () {
            var getId = document.getElementById("txtCategoryCode").value;
            $.ajax({
                url: 'UpdateStatusCategory',
                type: 'POST',
                contentType: 'application/json;',
                data: JSON.stringify({ id: getId, status: "1" }),
                    success: function (valid) {
                        if (valid.valid) {
                            window.location.href = "@Url.Action("CategoryList", "MasterData")?message=" + valid.pesansingkat;
                        } else {
                            document.getElementById("btnSubmit").disabled = false;
                        }
                    }
                });
        });
    })
</script>

<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">Master Data</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Category</li>
                </ol>
                <button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Create New</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card ">
                <div class="card-header bg-info">
                    <h4 class="m-b-0 text-white">Details Category</h4>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("UpdateCategory", "MasterData", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                        <div class="form-body">
                            <h3 class="box-title">Category Info</h3>
                            <hr class="m-t-0 m-b-40">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-3">Code</label>
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(model => model.categoryCode, new { @type = "text", @class = "form-control", @id = "txtCategoryCode", @disabled = "true" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-3">Name</label>
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(model => model.categoryName, new { @type = "text", @class = "form-control", @id = "txtCategoryName" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title">Item</h4>
                                            <h6 class="card-subtitle">List</h6>
                                            <div class="table-responsive m-t-40">
                                                <table id="dtItemList" class="table table-bordered table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Code</th>
                                                            <th>Name</th>
                                                            <th>Price</th>
                                                            <th>Category</th>
                                                            <th>Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.items)
                                                        {
                                                            <tr>
                                                                <td style="text-align:center">@item.itemCode</td>
                                                                <td style="text-align:left">@item.itemName</td>
                                                                <td style="text-align:right">@Convert.ToDecimal(item.itemPrice).ToString("#,###")</td>
                                                                <td style="text-align:center">@item.categoryName</td>
                                                                <td style="text-align:center">@item.isActive</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="submit" class="btn btn-success" id="btnSubmit">Submit</button>
                                            @if (Model.isActive == "Active")
                                            {
                                                <button type="button" class="btn btn-danger" id="btnDeactive">Deactive</button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-info" id="btnActive">Active</button>
                                            }
                                            <button type="button" class="btn btn-inverse" id="btnCancel">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6"> </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>