﻿@model SalesOrder.Models.MasterData.DetailsItemClass
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}

<link href="~/Assets/Nifty/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<style>
    .childCenter {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        padding: 10px;
    }
</style>
<script src="~/Assets/EliteAdmin/node_modules/jquery/jquery-3.2.1.min.js"></script>

<script>
    var dtChooseCategory;
    $(document).ready(function () {
        dtChooseCategory = $('#dtChooseCategory').DataTable();
        $('#dtChooseCategory tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                dtChooseCategory.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');

            }
        });
        $('#btnCancel').click(function () {
            window.location.href = "@Url.Action("ItemList","MasterData")";
        });
        $('#btnDeactive').click(function () {
            var getId = document.getElementById("txtItemCode").value;
            $.ajax({
                url: 'UpdateStatusItem',
                type: 'POST',
                contentType: 'application/json;',
                data: JSON.stringify({ id: getId, status: "0" }),
                    success: function (valid) {
                        if (valid.valid) {
                            window.location.href = "@Url.Action("ItemList", "MasterData")?message=" + valid.pesansingkat;
                        } else {
                            document.getElementById("btnSubmit").disabled = false;
                        }
                    }
                });
        });
        $('#btnActive').click(function () {
            var getId = document.getElementById("txtItemCode").value;
            $.ajax({
                url: 'UpdateStatusItem',
                type: 'POST',
                contentType: 'application/json;',
                data: JSON.stringify({ id: getId, status: "1" }),
                    success: function (valid) {
                        if (valid.valid) {
                            window.location.href = "@Url.Action("ItemList", "MasterData")?message=" + valid.pesansingkat;
                        } else {
                            document.getElementById("btnSubmit").disabled = false;
                        }
                    }
                });
        });
        $("#myInput").change(function () {
            readURL(this);
        });
        $("#btnRemove").click(function () {
            var imgUrl = $('input[name=dynamicImageUrl]').val();
            $("#imageItem").attr('src', imgUrl);
        });
        $("#btnChooseCategory").click(function () {
            var rowDtChooseCategory = dtChooseCategory.rows('.selected').data();
            $("#txtItemCategoryCode").val(rowDtChooseCategory[0][0]);
            $("#txtItemCategory").val(rowDtChooseCategory[0][1]);
        });
    })
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imageItem').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">Master Data</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Item</li>
                </ol>
                <button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Details Item</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card ">
                <div class="card-header bg-info">
                    <h4 class="m-b-0 text-white">Details Item</h4>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("UpdateItem", "MasterData", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                        <div class="form-body">
                            <h3 class="box-title">Item Info</h3>
                            <hr class="m-t-0 m-b-40">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-3">Name</label>
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(model => model.itemCode, new { @type = "text", @class = "form-control", @id = "txtItemCode", style = "display: none;" })
                                            @Html.TextBoxFor(model => model.itemName, new { @type = "text", @class = "form-control", @id = "txtItemName" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-3">Price</label>
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(model => model.itemPrice, new { @type = "number", @class = "form-control", @id = "txtItemPrice" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-3">Category</label>
                                        <div class="col-md-9">
                                            <div class="controls">
                                                <div class="input-group">
                                                    @Html.TextBoxFor(model => model.categoryName, new { @type = "text", @class = "form-control", @id = "txtItemCategory", @disabled = "true" })
                                                    @Html.TextBoxFor(model => model.categoryCode, new { @type = "text", @class = "form-control", @id = "txtItemCategoryCode", style = "display: none;" })
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-info" type="button" data-toggle="modal" data-target="#ChooseCategory">Choose</button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>=
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-3">Stock</label>
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(model => model.itemStock, new { @type = "number", @class = "form-control", @id = "txtItemStock" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="submit" class="btn btn-success" id="btnSubmit">Submit</button>
                                            @if (Model.isActive == "True")
                                            {
                                                <button type="button" class="btn btn-danger" id="btnDeactive">Deactive</button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-info" id="btnActive">Active</button>
                                            }
                                            <button type="button" class="btn btn-inverse" id="btnCancel">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6"> </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ChooseCategory" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Choose Category</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="table table-striped">
                    <table id="dtChooseCategory" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.categories)
                            {
                                <tr>
                                    <td style="text-align:center">@item.categoryCode</td>
                                    <td style="text-align:left">@item.categoryName</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info waves-effect" data-dismiss="modal" id="btnChooseCategory">Choose</button>
            </div>
        </div>
    </div>
</div>

