﻿@model SalesOrder.Models.MasterData.DetailsCustomerClass
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}

<link href="~/Assets/Nifty/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<style>
    .childCenter {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        padding: 10px;
    }
</style>
<script src="~/Assets/EliteAdmin/node_modules/jquery/jquery-3.2.1.min.js"></script>

<script>
    var dtSOList;
    $(document).ready(function () {
        dtSOList = $('#dtSOList').DataTable();
        $('#btnCancel').click(function () {
            window.location.href = "@Url.Action("CustomerList","MasterData")";
        });
        $('#btnDeactive').click(function () {
            var getId = document.getElementById("txtCustomerCode").value;
            $.ajax({
                url: 'UpdateStatusCustomer',
                type: 'POST',
                contentType: 'application/json;',
                data: JSON.stringify({ id: getId, status: "0" }),
                    success: function (valid) {
                        if (valid.valid) {
                            window.location.href = "@Url.Action("CustomerList", "MasterData")?message=" + valid.pesansingkat;
                        } else {
                            document.getElementById("btnSubmit").disabled = false;
                        }
                    }
                });
        });
        $('#btnActive').click(function () {
            var getId = document.getElementById("txtCustomerCode").value;
            $.ajax({
                url: 'UpdateStatusCustomer',
                type: 'POST',
                contentType: 'application/json;',
                data: JSON.stringify({ id: getId, status: "1" }),
                    success: function (valid) {
                        if (valid.valid) {
                            window.location.href = "@Url.Action("CustomerList", "MasterData")?message=" + valid.pesansingkat;
                        } else {
                            document.getElementById("btnSubmit").disabled = false;
                        }
                    }
                });
        });
    })
</script>

<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">Master Data</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Customer</li>
                </ol>
                <button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Create New</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card ">
                <div class="card-header bg-info">
                    <h4 class="m-b-0 text-white">Details Customer</h4>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("UpdateCustomer", "MasterData", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                    <div class="form-body">
                        <h3 class="box-title">Customer Info</h3>
                        <hr class="m-t-0 m-b-40">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Code</label>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(model => model.customerCode, new { @type = "text", @class = "form-control", @id = "txtCustomerCode", @disabled = "true" })
                                        @Html.TextBoxFor(model => model.customerCode, new { @type = "text", @class = "form-control", @id = "txtCustomerCode2nd", style = "display: none;" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Name</label>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(model => model.customerName, new { @type = "text", @class = "form-control", @id = "txtCustomerName" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Phone</label>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(model => model.customerPhone, new { @type = "text", @class = "form-control", @id = "txtCustomerPhone" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Email</label>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(model => model.customerEmail, new { @type = "text", @class = "form-control", @id = "txtCustomerEmail" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Contact Person</label>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(model => model.contactPerson, new { @type = "text", @class = "form-control", @id = "txtContactPerson" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">City</label>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(model => model.customerCity, new { @type = "text", @class = "form-control", @id = "txtCustomerCity" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Credit Limit</label>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(model => model.creditLimit, new { @type = "text", @class = "form-control", @id = "txtCreditLimit" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Sales Order</h4>
                                        <h6 class="card-subtitle">List</h6>
                                        <div class="table-responsive m-t-40">
                                            <table id="dtSOList" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Code</th>
                                                        <th>Posting Date</th>
                                                        <th>Doc Date</th>
                                                        <th>Delivery Date</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.soes)
                                                    {
                                                        <tr>
                                                            <td style="text-align:center">@item.soCode</td>
                                                            <td style="text-align:center">@item.postingDate</td>
                                                            <td style="text-align:center">@item.documentDate</td>
                                                            <td style="text-align:center">@item.deliveryDate</td>
                                                            <td style="text-align:center">@item.status</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <hr>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="submit" class="btn btn-success" id="btnSubmit">Submit</button>
                                            @if (Model.isActive == "Active")
                                            {
                                                <button type="button" class="btn btn-danger" id="btnDeactive">Deactive</button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-info" id="btnActive">Active</button>
                                            }
                                            <button type="button" class="btn btn-inverse" id="btnCancel">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6"> </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>