﻿@model SalesOrder.Models.MasterData.UserListClass
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}
<script src="~/Assets/EliteAdmin/node_modules/jquery/jquery-3.2.1.min.js"></script>
<script>
    var dtCustomer;
    $(document).ready(function () {
        dtCustomer = $('#dtCustomer').DataTable();
    });
</script>

<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">Master Data</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">User</li>
                </ol>
                <a href="~/MasterData/AddUser" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Create New</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">User</h4>
                    <h6 class="card-subtitle">List</h6>
                    <div class="table-responsive m-t-40">
                        <table id="dtCustomer" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>City</th>
                                    <th>Role</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.users)
                                {
                                <tr>
                                    <td style="text-align:center">@item.userCode</td>
                                    <td style="text-align:left">@item.userName</td>
                                    <td style="text-align:center">@item.userPhone</td>
                                    <td style="text-align:right">@item.userCity</td>
                                    <td style="text-align:right">@item.userRole</td>
                                    <td style="text-align:center">@item.isActive</td>
                                    <td style="text-align:center">
                                        <a class="btn btn-xs btn-primary add-tooltip" data-toggle="tooltip" href="~/MasterData/DetailsUser?userCode=@item.userCode" data-original-title="View" data-container="body"><i class="fa fa-edit"></i></a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

