﻿@model SalesOrder.Models.Transaction.AddSalesOrderClass
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}

<link href="~/Assets/Nifty/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<style>
    .childCenter {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        padding: 10px;
    }
</style>
<script src="~/Assets/EliteAdmin/node_modules/jquery/jquery-3.2.1.min.js"></script>

<script>
    var dtChooseCustomer;
    var dtChooseItem;
    var dtItem;
    $(document).ready(function () {
        var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        var today = (day) + "-" + (month) + "-" + now.getFullYear();
        $('#txtPostingDate').val(today);
        $('#txtDeliveryDate').val(today);
        $('#txtDocumentDate').val(today);
        dtChooseCustomer = $('#dtChooseCustomer').DataTable();
        dtChooseItem = $('#dtChooseItem').DataTable({
            "responsive": true,
            "ordering": false,
        });
        dtItem = $('#dtItem').DataTable({
            "responsive": true,
            "columnDefs": [
                {
                    "targets": [6],
                    "visible": false
                },
                { "className": "dt-left", "targets": [2] },
                { "className": "dt-center", "targets": [0, 1, 5, 6] },
                { "className": "dt-right", "targets": [3, 4] }
            ],
            "ordering": false,
        });
        $('#dtChooseCustomer tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                dtChooseCustomer.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');

            }
        });
        $('#dtItem tbody').on('click', '#btnTrash', function () {
            var dtItemData = dtItem.row($(this).parents('tr')).data();
            dtItem.rows(function (idx, data, node) {
                return data[1] === dtItemData[1];
            }).remove().draw();
        });
        $('#btnChooseCustomer').click(function () {
            var rowDtChooseCustomer = dtChooseCustomer.rows('.selected').data();
            $.getJSON("@Url.Action("GetCustomerFromCode", "Transaction")?customerCode=" + rowDtChooseCustomer[0][0], function (data) {
                $('#txtCustomerCode').val(data.customerCode);
                $('#txtCustomerName').val(data.customerName);
                $('#txtCustomerPhone').val(data.customerPhone);
                $('#txtCustomerEmail').val(data.customerEmail);
                $('#txtCustomerCity').val(data.customerCity);
                $('#txtCustomerCreditLimitReal').val(data.lastCreditLimit);
                $('#txtCustomerCreditLimit').val(data.strLastCreditLimit);
            });
        });
        $('#btnChooseItem').click(function () {
            var textbox = '<input type="number" class="txtBox" value="1" style="text-align:right">';
            var iconDelete = '<a class="btn btn-xs btn-primary add-tooltip" data-toggle="tooltip" data-original-title="View" data-container="body" id="btnTrash"><i class="fa fa-trash"></i></a>';
            var getDtItem = dtItem.rows().data();
            var setChooseItem = '';
            var chbChooseItem = dtChooseItem.$(".chbChooseItem:checked", { "page": "all" });
            chbChooseItem.each(function (index, elem) {
                var checkbox_value = $(elem).val();
                if (index == 0) {
                    setChooseItem = checkbox_value;
                }
                else {
                    setChooseItem = setChooseItem + "#" + checkbox_value;
                }
            });
            var splitSetItem = setChooseItem.split("#");
            for (var i = 0; i < splitSetItem.length; i++) {
                var checkSimiliar = '0';
                var splitRow = splitSetItem[i].split("$");
                for (var j = 0; j < getDtItem.length; j++) {
                    if (splitRow[0] == getDtItem[j][1]) {
                        checkSimiliar = '1';
                    }
                }
                if (checkSimiliar == '0') {
                    dtItem.row.add([
                        iconDelete, splitRow[0], splitRow[1], textbox, splitRow[2], splitRow[3], splitRow[4]
                    ]).draw(false);
                }
            }
        });
        $('#btnCancel').click(function () {
            window.location.href = "@Url.Action("ListSalesOrder","Transaction")";
        });
        $('#btnSubmit').click(function () {
            swal({
                title: "Are you sure?",
                text: "Sales Order Document will be created",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Submit",
                closeOnConfirm: false,
                closeOnCancel: false
            }).then(function (isConfirm) {
                if (isConfirm.value) {
                    document.getElementById("btnSubmit").disabled = true;
                    var getPostingDate = document.getElementById("txtPostingDate").value;
                    var getDocumentDate = document.getElementById("txtDocumentDate").value;
                    var getDeliveryDate = document.getElementById("txtDeliveryDate").value;
                    var getNotes = document.getElementById("txtNotes").value;
                    var getCustomerCode = document.getElementById("txtCustomerCode").value;
                    var getCustomerName = document.getElementById("txtCustomerName").value;
                    var getCreditLimit = document.getElementById("txtCustomerCreditLimitReal").value;
                    var dataDtItem = dtItem.rows().data();
                    var getItems = '';
                    var checkMinus = 0;
                    for (var i = 0; i < dataDtItem.length; i++) {
                        if (parseInt(dtItem.cell(i, 3).nodes().to$().find('input').val()) < 0 && parseInt(dtItem.cell(i, 3).nodes().to$().find('input').val()) > parseInt(dataDtItem[i][6])) {
                            checkMinus = 1;
                        }
                        if (i == 0) {
                            getItems = dataDtItem[i][1] + '$' + dataDtItem[i][2] + '$' + dtItem.cell(i, 3).nodes().to$().find('input').val() + '$' + dataDtItem[i][4];
                        }
                        else {
                            getItems = getItems + ';' + dataDtItem[i][1] + '$' + dataDtItem[i][2] + '$' + dtItem.cell(i, 3).nodes().to$().find('input').val() + '$' + dataDtItem[i][4];
                        }
                    }
                    if (getItems.length > 0 && checkMinus == 0 && getCustomerCode.length > 0) {
                        $.ajax({
                            url: 'SubmitSalesOrder',
                            type: 'POST',
                            contentType: 'application/json;',
                            data: JSON.stringify({ postingDate: getPostingDate, documentDate: getDocumentDate, deliveryDate: getDeliveryDate, notes: getNotes, customerCode: getCustomerCode, customerName: getCustomerName, creditLimit: getCreditLimit, items: getItems }),
                            success: function (valid) {
                                if (valid.valid) {
                                    window.location.href = "@Url.Action("ListSalesOrder","Transaction")?message=" + valid.pesansingkat;
                                } else {
                                    swal("Error!", valid.pesansingkat, "error");
                                    document.getElementById("btnSubmit").disabled = false;
                                }
                            }
                        });
                    }
                    else {
                        swal("Error!", "Please Check All Field!", "error");
                        document.getElementById("btnSubmit").disabled = false;
                    }
                } else {

                }
            });
            
        });
        $('#txtPostingDate').bootstrapMaterialDatePicker({
            weekStart: 0, time: false, format: 'DD-MM-YYYY',
            maxDate: new Date() });
        $('#txtDocumentDate').bootstrapMaterialDatePicker({ weekStart: 0, time: false, format: 'DD-MM-YYYY' });
        $('#txtDeliveryDate').bootstrapMaterialDatePicker({ weekStart: 0, time: false, format: 'DD-MM-YYYY' });
    })
</script>

<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">Transaction</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Sales Order</li>
                </ol>
                <button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Create New</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card ">
                <div class="card-header bg-info">
                    <h4 class="m-b-0 text-white">Add Sales Order</h4>
                </div>
                <div class="card-body">
                    <div class="form-body">
                        <h3 class="box-title">Header Info</h3>
                        <hr class="m-t-0 m-b-40">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Posting Date</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="txtPostingDate">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Document Date</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="txtDocumentDate">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Delivery Date</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="txtDeliveryDate">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Notes</label>
                                    <div class="col-md-9">
                                        <textarea class="form-control" id="txtNotes" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Customer</label>
                                    <div class="col-md-9">
                                        <div class="controls">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Customer Code" id="txtCustomerCode" disabled>
                                                <span class="input-group-btn">
                                                    <button class="btn btn-info" type="button" data-toggle="modal" data-target="#ChooseCustomerModal">Choose</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Customer Name</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="txtCustomerName" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Customer Phone</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="txtCustomerPhone" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Customer Email</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="txtCustomerEmail" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Customer City</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="txtCustomerCity" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Credit Limit</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="txtCustomerCreditLimit" disabled>
                                        <input type="text" class="form-control" id="txtCustomerCreditLimitReal" hidden>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="box-title">Details Info</h3>
                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-info" type="button" data-toggle="modal" data-target="#ChooseItemModal">Add</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <table id="dtItem" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Code</th>
                                        <th>Name</th>
                                        <th>Qty</th>
                                        <th>Price</th>
                                        <th>Category</th>
                                        <th>Stock</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <hr class="m-t-0 m-b-40">
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="button" class="btn btn-success" id="btnSubmit">Submit</button>
                                        <button type="button" class="btn btn-inverse" id="btnCancel">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ChooseCustomerModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Choose Customer</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="table table-striped">
                    <table id="dtChooseCustomer" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>CP</th>
                                <th>City</th>
                                <th>Credit Limit</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.customers)
                            {
                                <tr>
                                    <td style="text-align:center">@item.customerCode</td>
                                    <td style="text-align:left">@item.customerName</td>
                                    <td style="text-align:center">@item.customerPhone</td>
                                    <td style="text-align:left">@item.customerEmail</td>
                                    <td style="text-align:left">@item.contactPerson</td>
                                    <td style="text-align:center">@item.customerCity</td>
                                    <td style="text-align:right">@Convert.ToDecimal(item.lastCreditLimit).ToString("#,###")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info waves-effect" data-dismiss="modal" id="btnChooseCustomer">Choose</button>
            </div>
        </div>
    </div>
</div>

<div id="ChooseItemModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Choose Item</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="table table-striped">
                    <table id="dtChooseItem" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Code</th>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Stock</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.items)
                            {
                                <tr>
                                    <td style="text-align:center"><input type="checkbox" class="chbChooseItem" value="@item.itemCode$@item.itemName$@item.itemPriceStr$@item.categoryName$@item.itemStock"></td>
                                    <td style="text-align:center">@item.itemCode</td>
                                    <td style="text-align:left">@item.itemName</td>
                                    <td style="text-align:center">@item.categoryName</td>
                                    <td style="text-align:center">@item.itemStock</td>
                                    <td style="text-align:right">@Convert.ToDecimal(item.itemPrice).ToString("#,###")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info waves-effect" data-dismiss="modal" id="btnChooseItem">Choose</button>
            </div>
        </div>
    </div>
</div>