﻿@model SalesOrder.Models.Transaction.ListSalesOrderClass
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}
<script src="~/Assets/EliteAdmin/node_modules/jquery/jquery-3.2.1.min.js"></script>
<script>
    var dtSalesOrder;
    $(document).ready(function () {
        dtSalesOrder = $('#dtSalesOrder').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'print',
                {
                    extend: 'excel',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4]

                    }
                },
                {
                    extend: 'csv',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4]

                    }
                }
            ],
            "ordering": false
        });
        $('.buttons-copy, .buttons-csv, .buttons-print, .buttons-excel').addClass('btn btn-primary mr-1');
        $('#btnDelete').click(function () {
            var getId = document.getElementById("txtSalesOrderCode").value;
            $.ajax({
                url: 'DeleteSalesOrder',
                type: 'POST',
                contentType: 'application/json;',
                data: JSON.stringify({ id: getId }),
                    success: function (valid) {
                        if (valid.valid) {
                            window.location.href = "@Url.Action("ListSalesOrder", "Promotion")?message=" + valid.pesansingkat;
                        } else {
                            document.getElementById("btnSubmit").disabled = false;
                        }
                    }
                });
        });
    });
    function popupDelete(id)
    {
        $('#txtSalesOrderCode').val(id);
    }
</script>

<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">Sales Order</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Sales Order</li>
                </ol>
                <a href="~/Transaction/AddSalesOrder" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Create New</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Sales Order</h4>
                    <h6 class="card-subtitle">List</h6>
                    <div class="table-responsive m-t-40">
                        <table id="dtSalesOrder" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="text-align:center">Code</th>
                                    <th style="text-align:center">Posting Date</th>
                                    <th style="text-align:center">Doc Date</th>
                                    <th style="text-align:center">Customer</th>
                                    <th style="text-align:center">Status</th>
                                    <th style="text-align:center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.soes)
                                {
                                    <tr>
                                        <td style="text-align:center">@item.soCode</td>
                                        <td style="text-align:center">@item.postingDate</td>
                                        <td style="text-align:center">@item.documentDate</td>
                                        <td style="text-align:left">@item.customerName</td>
                                        <td style="text-align:center">@item.status</td>
                                        <td style="text-align:center">
                                            <a class="btn btn-xs btn-primary add-tooltip" data-toggle="tooltip" href="~/Transaction/DetailsSalesOrder?code=@item.soCode" data-original-title="View" data-container="body"><i class="fa fa-edit"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="deleteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Notice</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="text" class="form-control" placeholder="Code" id="txtSalesOrderCode" hidden>
                    Are you sure want to Close this Sales Order?
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger waves-effect waves-light" id="btnDelete">Delete</button>
            </div>
        </div>
    </div>
</div>
