﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Assets/images/LogoRoxyGlass.jpg">
    <title>Roxy Glass</title>
    <link rel="stylesheet" href="~/Assets/EliteAdmin/node_modules/dropify/dist/css/dropify.min.css">
    <link href="~/Assets/EliteAdmin/dist/css/style.min.css" rel="stylesheet">
    <link href="~/Assets/EliteAdmin/node_modules/morrisjs/morris.css" rel="stylesheet">
    <link href="~/Assets/EliteAdmin/dist/css/pages/dashboard3.css" rel="stylesheet">
    <link href="~/Assets/EliteAdmin/node_modules/datatables/media/css/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="~/Assets/EliteAdmin/dist/css/pages/user-card.css" rel="stylesheet">
    <link href="~/Assets/EliteAdmin/node_modules/Magnific-Popup-master/dist/magnific-popup.css" rel="stylesheet">

    <link href="~/Assets/EliteAdmin/node_modules/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
    <link href="~/Assets/EliteAdmin/node_modules/clockpicker/dist/jquery-clockpicker.min.css" rel="stylesheet">
    <link href="~/Assets/EliteAdmin/node_modules/jquery-asColorPicker-master/dist/css/asColorPicker.css" rel="stylesheet">
    <link href="~/Assets/EliteAdmin/node_modules/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/EliteAdmin/node_modules/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="~/Assets/EliteAdmin/node_modules/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <link href="~/Assets/EliteAdmin/node_modules/sweetalert/sweetalert.css" rel="stylesheet" type="text/css">
</head>

<body class="skin-blue fixed-layout">
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Roxy Glass</p>
        </div>
    </div>
    <div id="main-wrapper">
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="~/Assets/images/LogoRoxyGlass.jpg" width="40px" height="40px" alt="homepage" class="dark-logo" />
                            <!-- Light Logo icon -->
                            <img src="~/Assets/images/LogoRoxyGlass.jpg" width="40px" height="40px" alt="homepage" class="light-logo" />
                        </b>
                    </a>
                </div>
                <div class="navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"> <a class="nav-link nav-toggler d-block d-md-none waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item"> <a class="nav-link sidebartoggler d-none d-lg-block d-md-block waves-effect waves-dark" href="javascript:void(0)"><i class="icon-menu"></i></a> </li>
                        <li class="nav-item">
                            <form class="app-search d-none d-md-block d-lg-block">
                                <p style="font-size:26px;color:ghostwhite;margin-top:10px">Roxy Glass</p>
                            </form>
                        </li>
                    </ul>
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item dropdown u-pro">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark profile-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="hidden-md-down">Welcome @Session["userName"] &nbsp;<i class="fa fa-angle-down"></i></span> </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="left-sidebar">
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li><a class="waves-effect waves-dark" href="~/Home/Dashboard" aria-expanded="false"><i class="icon-speedometer"></i><span class="hide-menu">Dashboard</span></a></li>
                        <li><a class="waves-effect waves-dark" href="~/Transaction/ListSalesOrder" aria-expanded="false"><i class="ti-layout-accordion-merged"></i><span class="hide-menu">Transaction</span></a></li>
                        <li>
                            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-settings"></i><span class="hide-menu">Master Data</span></a>
                            <ul aria-expanded="false" class="collapse">
                                @if (Session["UserRole"].ToString() == "SA")
                                {
                                    <li><a href="~/MasterData/UserList">User</a></li>
                                }
                                <li><a href="~/MasterData/CustomerList">Customer</a></li>
                                <li><a href="~/MasterData/CategoryList">Category</a></li>
                                <li><a href="~/MasterData/ItemList">Item</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-view-list-alt"></i><span class="hide-menu">Report</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="~/Report/SalesOrderDetail">SO Detail</a></li>
                            </ul>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="~/Home/Logout" aria-expanded="false"><i class="far fa-circle text-success"></i><span class="hide-menu">Log Out</span></a></li>
                    </ul>
                </nav>
            </div>
        </aside>
        <div class="page-wrapper">
            @RenderBody()

        </div>
        <footer class="footer">
            © 2021 Roxy Glass
        </footer>
    </div>
    <script src="~/Assets/EliteAdmin/node_modules/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/Assets/EliteAdmin/node_modules/popper/popper.min.js"></script>
    <script src="~/Assets/EliteAdmin/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Assets/EliteAdmin/dist/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/Assets/EliteAdmin/dist/js/waves.js"></script>
    <script src="~/Assets/EliteAdmin/dist/js/sidebarmenu.js"></script>
    <script src="~/Assets/EliteAdmin/node_modules/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="~/Assets/EliteAdmin/node_modules/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/Assets/EliteAdmin/dist/js/custom.min.js"></script>
    <script src="~/Assets/EliteAdmin/node_modules/dropify/dist/js/dropify.min.js"></script>
    <script src="~/Assets/EliteAdmin/node_modules/raphael/raphael-min.js"></script>
    <script src="~/Assets/EliteAdmin/node_modules/morrisjs/morris.js"></script>
    <script src="~/Assets/EliteAdmin/node_modules/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="~/Assets/EliteAdmin/node_modules/datatables/datatables.min.js"></script>
    <script src="~/Assets/EliteAdmin/dist/js/dashboard3.js"></script>
    <script src="~/Assets/EliteAdmin/node_modules/Magnific-Popup-master/dist/jquery.magnific-popup.min.js"></script>
    <script src="~/Assets/EliteAdmin/node_modules/Magnific-Popup-master/dist/jquery.magnific-popup-init.js"></script>

    <script src="~/Assets/EliteAdmin/node_modules/moment/moment.js"></script>
    <script src="~/Assets/EliteAdmin/node_modules/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <script src="~/Assets/EliteAdmin/node_modules/clockpicker/dist/jquery-clockpicker.min.js"></script>
    <script src="~/Assets/EliteAdmin/node_modules/jquery-asColor/dist/jquery-asColor.js"></script>
    <script src="~/Assets/EliteAdmin/node_modules/jquery-asGradient/dist/jquery-asGradient.js"></script>
    <script src="~/Assets/EliteAdmin/node_modules/jquery-asColorPicker-master/dist/jquery-asColorPicker.min.js"></script>
    <script src="~/Assets/EliteAdmin/node_modules/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/Assets/EliteAdmin/node_modules/timepicker/bootstrap-timepicker.min.js"></script>
    <script src="~/Assets/EliteAdmin/node_modules/bootstrap-daterangepicker/daterangepicker.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>

    <script src="~/Assets/EliteAdmin/node_modules/sweetalert/sweetalert.min.js"></script>
    <script src="~/Assets/EliteAdmin/node_modules/sweetalert/jquery.sweet-alert.custom.js"></script>
</body>

</html>