﻿@model SalesOrder.Models.Report.SODetailClass
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}
<script src="~/Assets/EliteAdmin/node_modules/jquery/jquery-3.2.1.min.js"></script>
<script>
    var dtSalesOrderDetail;
    $(document).ready(function () {
        var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        var today = (day) + "-" + (month) + "-" + now.getFullYear();
        $('#txtFromDate').val(today);
        $('#txtToDate').val(today);
        dtSalesOrderDetail = $('#dtSalesOrderDetail').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'print',
                {
                    extend: 'excel'
                },
                {
                    extend: 'csv'
                }
            ],
            "columnDefs": [
                { 'visible': false, 'targets': [2, 3, 4, 6, 11] }
            ]
        });
        $('#btnGenerate').click(function () {
            var getFromDate = document.getElementById("txtFromDate").value;
            var getToDate = document.getElementById("txtToDate").value;
            var getcbStatus = document.getElementById("cbStatus");
            var getStatusCode = getcbStatus.options[getcbStatus.selectedIndex].value;
            $.getJSON("@Url.Action("GetSalesOrderDetail", "Report")?from=" + getFromDate + "&to=" + getToDate + "&status=" + getStatusCode, function (data) {
                dtSalesOrderDetail.destroy();
                $('#dtSalesOrderDetail').empty();
                dtSalesOrderDetail = $('#dtSalesOrderDetail').DataTable({
                    data: data,
                    columns: [
                        { "data": "SOCode", "title" : "Code" },
                        { "data": "postingDate", "title": "Posting Date" },
                        { "data": "documentDate", "title": "Doc Date" },
                        { "data": "deliveryDate", "title": "Delivery Date" },
                        { "data": "customerCode", "title": "Customer Code" },
                        { "data": "customerName", "title": "Customer Name" },
                        { "data": "notes", "title": "Notes" },
                        { "data": "status", "title": "Status" },
                        { "data": "itemCode", "title" : "Item Code" },
                        { "data": "itemName", "title": "Item Name" },
                        { "data": "itemQty", "title": "Item Qty" },
                        { "data": "strItemPrice", "title": "Item Price" }
                    ],
                    dom: 'Bfrtip',
                    buttons: [
                        'copy', 'print',
                        {
                            extend: 'excel'
                        },
                        {
                            extend: 'csv'
                        }
                    ],
                    "columnDefs": [
                        { 'visible': false, 'targets': [2, 3, 4, 6, 11] }
                    ]
                });
            });
        });
        $('.buttons-csv, .buttons-print, .buttons-excel').addClass('btn btn-primary mr-1');
        $('#txtFromDate').bootstrapMaterialDatePicker({ weekStart: 0, time: false, format: 'DD-MM-YYYY' });
        $('#txtToDate').bootstrapMaterialDatePicker({ weekStart: 0, time: false, format: 'DD-MM-YYYY' });
    });
    function checkdatetime() {
        var value1 = document.getElementById("txtFromDate").value;
        var value2 = document.getElementById("txtToDate").value;
        var strdt1 = value1.split("-");
        var finaldt1 = strdt1[2] + strdt1[1] + strdt1[0];
        var strdt2 = value2.split("-");
        var finaldt2 = strdt2[2] + strdt2[1] + strdt2[0];
        if (parseInt(finaldt1) > parseInt(finaldt2)) {
            $('#txtFromDate').val("");
            $('#txtToDate').val("");
        }
    }
</script>

<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">Report Sales Order per Item</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Sales Order Detail</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-body">
                        <h3 class="box-title">Sales Order per Item</h3>
                        <hr class="m-t-0 m-b-40">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">From Date</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="txtFromDate" onchange="checkdatetime()">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">To Date</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="txtToDate" onchange="checkdatetime()">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Status</label>
                                    <div class="col-md-9">
                                        @{
                                            List<SelectListItem> listStatus = new List<SelectListItem>();
                                            listStatus.Add(new SelectListItem
                                            {
                                                Text = "ALL",
                                                Value = "-1"
                                            });
                                            foreach (var item in Model.statues)
                                            {
                                                listStatus.Add(new SelectListItem
                                                {
                                                    Text = item.statusName,
                                                    Value = item.statusCode
                                                });
                                            }
                                        }
                                        @Html.DropDownListFor(model => model.statusCode, listStatus, new { @class = "form-control", @id = "cbStatus", @required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button id="btnGenerate" class="btn btn-success" type="button">Generate</button>
                    </div>
                    <div class="table-responsive m-t-40">
                        <table id="dtSalesOrderDetail" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="text-align:center">Code</th>
                                    <th style="text-align:center">Posting Date</th>
                                    <th style="text-align:center">Doc Date</th>
                                    <th style="text-align:center">Delivery Date</th>
                                    <th style="text-align:center">Customer Code</th>
                                    <th style="text-align:center">Customer Name</th>
                                    <th style="text-align:center">Notes</th>
                                    <th style="text-align:center">Status</th>
                                    <th style="text-align:center">Item Code</th>
                                    <th style="text-align:center">Item Name</th>
                                    <th style="text-align:center">Item Qty</th>
                                    <th style="text-align:center">Item Price</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
